<!-- Product Gallery Starts -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css"/>


<section id="product-top" class="py-12 overflow-hidden px-3 lg:px-0">
    <div class="container mx-auto">
      <div class="product-info flex flex-col gap-16 md:flex-row">
        <div
          class="product-gallery flex flex-col-reverse xl:flex-row w-full gap-5 md:w-7/12"
        >
          <div class="product-gallery_thumb xl:w-2/12 h-auto xl:h-96">
            
            
            {% for image in product.images %}
                <div class="product-thumb_slide h-32 cursor-pointer">
                    <img
                        src="{{ image |  image_url   }}"
                        alt=""
                        class="h-full w-full object-cover"
                    />
                </div>
            {% endfor %}
          </div>

          <div class="product-gallery_img w-full h-96 xl:w-10/12">
            
            {% for image in product.images %}
                <div class="product-img_slide w-full h-full">
                    <img
                        src="{{ image |  image_url}}"
                        alt=""
                        class="w-full h-96 object-cover"
                    />
                </div>
            {% endfor %}
          </div>
        </div>

        <div class="product-intro w-full md:w-5/12">
          <span class="color-red">{{ product.vendor }}</span>
          <h3 class="pt-3 pb-4">{{ product.title}}</h3>
          <span class="color-red font-bold">{{ product.price |  money}}</span>
          <p class="pt-12">
            {{ product.metafields.custom.product_feature | metafield_tag  }}
          </p>

          {% unless product.has_only_default_variant %}
            {% for option in product.options_with_values %}
              <p> <strong>{{ option.name }} </strong> </p>
              
              {% for val in option.values %}
                {% if {{ option.selected_value }} == val %}
                  <p class="color-red">{{ option.selected_value }}</p>
                {% endif %}
                <p> {{ val }} </p>
                
              {% endfor %}
            {% endfor %}
          {% endunless %}
          
          <div class="cart-box border p-4">
            {% form 'product', product %}
              <label for="product-option">Options</label>
              <select name="id" id="product-option">
                {% for variant in product.variants %}
                  <option value="{{ variant.id }}" {% if selected_variant.id == variant.id %}
                    selected
                  {% endif %}>
                    {{ variant.title }}
                  </option>
                {% endfor %}
              </select>     
              
              <div class="product-quantity">
                <label for="quantity">Quantity</label>
                <input type="number" name="quantity" id="quantity" value="1">
              </div>

              <button class="button product-add" type="submit">Add to Cart</button>
          {% endform %}
          </div>
          

          {% comment %} <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
            <select name="id" id="productSelect">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option value="{{ variant.id }}">
                    {{ variant.title }} - {{ variant.price | money_with_currency }}
                  </option>
                {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} - sold out
                  </option>
                {% endif %}
              {% endfor %}
            </select>
            {{ current_variant.price | money }}
            <label for="Quantity">quantity</label>
            <input type="number" id="Quantity" name="quantity" value="1" min="1">
            <button type="submit" name="add" id="AddToCart">Add to cart</button>
          </form> {% endcomment %}
        </div>
      </div>
    </div>
  </section>

  <!-- Product Gallery Ends -->

  <!-- Product Details Starts -->

  <section id="product-details" class="py-10 md:py-20 px-3 lg:px-0">
    <div class="container mx-auto">
      <div
        class="prod-details_wrapper"
        x-data="{ descriptionPanel: true,SizePanel: false, reviewPanel: false }"
      >
        <div class="prod-details_tabs py-6 mb-4 border-b">
          <ul class="flex gap-5 font-bold">
            <li
              @click="descriptionPanel = true ; SizePanel=false; reviewPanel= false"
            >
              <h4>Description</h4>
            </li>
            <li
              @click="SizePanel = true; descriptionPanel=false;reviewPanel=false"
            >
              <h4>Size Guide</h4>
            </li>
            <li
              @click="reviewPanel = true; descriptionPanel=false;SizePanel=false"
            >
              <h4>Reviews</h4>
            </li>
          </ul>
        </div>
        <div class="prod-details_contents">
          <div class="prod-description" x-show="descriptionPanel">
            <p>
              {{ product.description }}
            </p>
          </div>

          <div class="prod-size-guide" x-show="SizePanel">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. At
              accusantium nihil laborum vitae sequi sint dicta animi
              laboriosam officia reprehenderit culpa consectetur similique
              totam facilis eius aperiam, minus tempore optio.
            </p>
          </div>

          <div class="prod-reviews" x-show="reviewPanel">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
              ipsum quaerat sit quod blanditiis, similique error omnis
              mollitia, suscipit aliquam dolore ratione corporis asperiores
              officiis itaque aliquid. Cumque, facilis dicta.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Product Details Ends -->

  <!-- Related Products Starts -->

  <section id="featured-products" class="py-12">
    <div class="container mx-auto px-3 xl:px-0">
      <div
        class="grid-header flex-col flex md:flex-row justify-between border-b border-b-black-20 py-4 md:pb-7"
      >
        <div class="grid-header_left flex gap-5">
          <h3>Related Products</h3>
        </div>
        <div class="grid-header_right">
          <h4>
            <a href="/collections/all?filter.p.vendor={{ product.vendor}}" class="btn-link"
              >View All <i class="fa-solid fa-arrow-right-long"></i
            ></a>
          </h4>
        </div>
      </div>

      <div
        class="grid-products grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-x-4 gap-y-10 pt-16"
      >
      
      {% assign count = 0 %}
      {% for related_product in collections.all.products %}
        {% if count < 4 and related_product.vendor == product.vendor %}
          {% render 'product-card', product_item: related_product %}
        
          {% assign count = count |  plus: 1 %}
        {% endif %}
        
      {% endfor %}

      </div>
    </div>
  </section>

  <!-- Related Products Ends -->